.star-rating {
    font-size: 64px;
    color: var(--primary-color);
    cursor: pointer;
    padding: 8px;
}

.star.highlight {
    color: var(--primary-hover);
}


i {
    font-style: normal;
}

.empty-button, .empty-button:hover {
    width: 100px;
    height: 100px;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;
}